.pixel-perfect {
	top: 0;
	display: block;
	@include a-cent(x);
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	opacity: 0;
	// opacity: 0.7;
}

body,
html {
	font-size: var(--bs-body-font-size);
}
html{
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(33, 36, 41, 0);
	// margin-right: calc(-1 * (100vw - 100%));
}

body {
	&.fixed,
	&.fancybox-active{
		.header{
			padding-right: var(--spacing-end);
		}
		margin-right: var(--spacing-end);
	}
	// min-width: 575px;
	// -webkit-font-smoothing: antialiased;
	// position: relative;
	// overflow-x: hidden;

	&.loaded_hiding {
		@include mt;

		opacity: 0;
		pointer-events: none;

		&::before {
			display: none;
		}
	}

	&.loaded {
		pointer-events: visible;
		opacity: 1;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		// background-color: $body-color;
		background-color: rgba($body-color, 0.8);
    backdrop-filter: blur(5px);
		opacity: 0;
		z-index: -1;
		// left: 200px;
		left: 0;
		// opacity: 1;
		// z-index: 1;
		top: 0;
	}

	&.fancybox-active {
		overflow: hidden;

	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}
}

.main-wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
	// display: flex;
	// flex-direction: row;
// /	overflow: scroll;
	// width: 100%;
	// height: 100vh;
	// height: calc(var(--vh, 1vh) * 100);


}
// .main-wrapper__inner{
// 	// overflow-x: hidden;
// 	display: flex;
// 	flex-direction: column;
// 	min-width: 0;
// 	min-height: 100vh;
// 	flex-grow: 1;
// }






.section {
	@include bgs;
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title {
	margin-bottom: var(--sTPB);
}



.mono {
	font-family: $font-family-code;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}
.fw-400 {
	font-weight: 400;
}

.fw-900 {
	font-weight: 900;
}
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}
.fw-100 {
	font-weight: 100;
}

.row--sm {
	--bg-gutter-x: #{rem(20)};
}



.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: pointer;
	&.l {
		left: 0;
		svg {
			transform:  transform(rotateY(180deg));
		}
	}
	&.r {
		right: 0;
	}
	svg {
		width: 17px;
		height: auto;
	}
}


.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}

.tabs__btn-accordion{
	// display: none;
	width: 100%;
}
.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {}

	}

	&__content {
		opacity: 0;
		@include mt;
		&.active {
			display: block;
			opacity: 1;
		}

		display: none;
	}
}



.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}

.swiper-button-hand {
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%;
	background-color: var(--swiperBgDef);
	border: 2px solid var(--swiperBorderColorDef);
	color: var(--swiperColorDef);
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y);
	box-shadow: 0 15px 60px rgba(0, 0, 0, 0.1);
	@include mt;
	user-select: none;

	&:hover {
		background-color: var(--swiperBgDefHover);
		border-color: var(--swiperBorderColorDefHover);
		color: var(--swiperColorDefHover);
	}

	.icon {
		font-size: rem(12);
	}

	&::after {
		display: none;
	}
	&-next {
		right: var(--swiperArrowPosition);
	}

	&-prev {
		left: var(--swiperArrowPosition);
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: #E6E6E6;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);
		display: inline-block;

		&-active,
		&:hover {
			background-color: var(--bs-primary) ;
		}
	}
}




@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}

img{
	// content-visibility: auto;
}
picture {
	display: block;
	img {
		@extend .res-i;
	}

}

img.object-fit-js {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.object-fit-js {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;

}

iframe {
	border: none;
}

// *::selection {
// 	color: #fff;
// 	/* Цвет текста */
// 	background: var(--bs-primary) ;
// 	/* Цвет фона */
// }




.custom-scroll {
	/* ===== Scrollbar CSS ===== */
  /* Firefox */
	--bs-primary: #DEDEDE;

  & {
    scrollbar-width: auto;
    scrollbar-color: var(--bs-primary) transparent;
  }

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--bs-primary);
    border-radius: 16px;
    border: 0px solid transparent;
  }

}

::-webkit-calendar-picker-indicator {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 24 24'><path fill='#{$primary}' d='M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z'/></svg>");
}

.swiper-wrapper{

	// @include row-sw(10px, sm, 100px);
}

.container{
	max-width: 428px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 40px;
}

.prod-item{
	display: flex;
	height: 100%;
	flex-direction: column;
	@include  mt;
	will-change: transform;
	&.active{
		transform: scale(.8);
	}

	&__img-wrap{
		@include  block();
		background-color: $primary;
		border-radius: 15px;
		overflow: hidden;
		margin-bottom: 10px;
		img{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__title{
		margin-bottom: 5px;
	}
	&__caption{
		opacity: 0.5;
		font-size: rem(14);
		margin-bottom: 10px;
	}
	&__rating{
		position: absolute;
		top: 15px;
		left: 15px;
		font-size: 14px;
		background-color: #ffffff;
		border-radius: 6px;
		padding: 8px;
		display: flex;
		align-items: center;
		&::before{
			content:  url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_256_5499)'%3E%3Cpath d='M13.9634 5.06903C13.8712 4.78555 13.6198 4.58485 13.3235 4.55804L9.28209 4.19113L7.68491 0.45182C7.56698 0.177096 7.29867 -0.000213623 7.00002 -0.000213623C6.70137 -0.000213623 6.43295 0.177096 6.31577 0.45182L4.71859 4.19113L0.676564 4.55804C0.380264 4.58538 0.129359 4.78608 0.0366454 5.06903C-0.0555345 5.35251 0.0295957 5.66345 0.25369 5.85998L3.30866 8.53875L2.4079 12.506C2.342 12.7977 2.45522 13.0994 2.69726 13.2743C2.82736 13.3688 2.98021 13.4161 3.13359 13.4161C3.2654 13.4161 3.39731 13.381 3.51513 13.3105L7.00002 11.2268L10.4843 13.3105C10.7399 13.4633 11.0613 13.4493 11.3028 13.2743C11.5448 13.0994 11.658 12.7977 11.5921 12.506L10.6914 8.53875L13.7463 5.85998C13.9703 5.66345 14.0556 5.35316 13.9634 5.06903Z' fill='%23FF7200'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_256_5499'%3E%3Crect width='14' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
			margin-right: 5px;
			position: relative;
			top: rem(1);
		}
	}
	&__footer{
		margin-top: auto;
		display: flex;
		@include  roww(10px, m);
		height: rem(40);
		position: relative;
	}
	&__btn{
		background: #F6F6F6;
		width: calc(50% - var(--bs-gutter-x));
		&:focus,
		&:active,
		&:hover{
		background: #F6F6F6;
			border-color: #F6F6F6;
		}
		&--plus,
		&--minus{
			position: relative;
			height: rem(40);
			&::before,
			&::after{
				content: '';
				position: absolute;
				@include  a-cent();
				height: 2px;
				width: 18px;
				background-color: currentColor;
				@include  mt;
			}
		}
		span{
			@include  mt;
		}
		&--plus{
			position: absolute;
			@include  mt;
			top: 0;
			right: 0;
			z-index: 2;
			&:not(.w-100) {

			}


			&::after{
				transform: rotate(90deg);
			}
			&:not(.w-100) {
				span{
					opacity: 0;
				}
			}
			&.w-100 {
				&::before,
				&::after{
					opacity: 0;
				}
			}
		}
	}
	&__counter{
		background-color: $primary;
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(40);
		height: rem(40);
		border-radius: 50%;
		position: absolute;
		right: 15px;
		bottom: 15px;
		color: #ffffff;
		@include  mt;
		&:not(.active){
			opacity: 0;
			visibility: hidden;
		}
	}
}


.row__title{
	margin-bottom: 20px;
}



.bounce-enter-active {
	animation: bounce-in .5s;
	z-index: 4;
}
.bounce-leave-active {
	animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(.86);
	}
	50%{
		transform: scale(1.06);
	}
	100% {
		transform: scale(1);
	}
}

.sCatalog-nav{
	margin-bottom: 20px;
	.swiper{
		overflow: visible;
	}
	.swiper-slide{
		width: auto;
		//&-active{
		//	--bg: #{$primary};
		//	--color: #fff;
		//}
	}
	&__link {
		background: var(--bg, #FFFFFF);
		color: var(--color, #{$body-color}) !important;
		border-radius: 60px;
		padding: 10px 20px;
		display: inline-block;
		&:hover{
			--bg: #{$primary};
			--color: #fff;
		}
	}
}
